:root {
    --primary-color: #F8F8F8;
    --font-color-slogan: #FFFFFF;
    --font-color: #101010;
    --bottom: linear-gradient(130deg, #FF6703, #CC5100);
    --font-color-subtitle: #1A1A1A;
    --font-color-tertiary: #FFFFFF;
    --font-color-number: #029196;
    --background-color-services: #02888D;
    --background-color-get-started: linear-gradient(130deg, #019298, #017F84);
    --font-family: 'Poppins';
    --font-family-secondary: 'Poppins';
    --background-color-footer: #01575A;

}

@font-face {
    font-family: 'Poppins';
    src: url('/fontes/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fontes/Poppins/Poppins-SemiBold.ttf') format('truetype');

    font-weight: 600;
}

@font-face {
    font-family: 'inter';
    src: url('/fontes/Poppins/Inter/static/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background-color: #F8F8F8;

}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    padding: 1rem 0;
    width: 100%;
}

.logo-header {
    display: flex;
    align-items: center;
    height: 100%;
}

.container {
    width: 90%;
    max-width: 75rem;
    margin: 0 auto;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 4rem;
}

.menu-desktop {
    display: none;
}

.menu-mobile button {
    background-color: #F8F8F8;
    border: 0;
    font-weight: 700;
    font-size: 2rem;
}

.sign-in {
    display: none;
}


.hero-new-structure {
    width: 90%;
    max-width: 75rem;
    margin: 0 auto;
}

.hero-new {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5rem;
    background-color: #FFE8D9;
    max-width: 18rem;
    font-size: 0.75rem;
    border-radius: 2.5rem;
    margin-bottom: 1rem;

}

.text-new-background {
    display: flex;
    background-image: var(--bottom);
    border-radius: 2rem;
    height: 2rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    color: #FFFFFF;
}

.hero-new img {
    margin: 0.5rem;
}

.text-hero h2 {
    font-family: var(--font-family);
    letter-spacing: -4%;
    font-size: 10.5vw;
    margin-bottom: 1.5rem;

}

.text-hero span {

    color: #02888D;
}

.text-hero h3 {
    color: var(--font-color);
    font-weight: 400;
    font-size: 1.125rem;
    max-width: 25rem;
    margin-bottom: 2.5rem;
    font-family: var(--font-family);
}

.hero-chosse {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.875rem;
    margin-bottom: 3rem;

}

.get-quote {
    display: flex;
    background-image: var(--bottom);
    color: #FFFFFF;
    border-radius: 2rem;
    width: 9rem;
    height: 3.25rem;
    align-items: center;
    justify-content: center;
}

.view-details {
    display: flex;
    background-color: #FFFFFF;
    color: var(--font-color);
    border-radius: 2rem;
    width: 9rem;
    height: 3.25rem;
    align-items: center;
    justify-content: center;
    border-color: #018085;
    border: 0.0625rem solid #018085;
}

.hero-chosse span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-hero img {

    height: auto;
    width: 23rem;
    margin: 0;
}

.image-hero {
    display: flex;
    justify-content: flex-end;
}

.row-company {
    display: none;
}

.company-soon {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.company-soon img {

    width: 11rem;
    height: 3.5rem;
}

.structure-soon {
    flex-direction: column;
    gap: 3rem;
}

.service {

    background-color: var(--background-color-services);
}

.card-mobile {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: center;
    width: 90%;
    align-items: center;
    margin: 0 auto;
}

.card-desktop {
    display: none;
}

.services-structure {
    padding-top: 4rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #FFFFFF;
    height: auto;
    margin-bottom: 1.25rem;
    height: 70%;



}

.card-body img {
    margin-bottom: 2rem;
}

.card-body h4 {
    margin-bottom: 1rem;
}

.card-body h5 {
    color: var(--font-color-subtitle);
    font-weight: 400;
    max-width: 100%;
    font-size: 0.875rem;
}

.partner-max-width-ajust h5 {
    max-width: 100%;
}

.service-text {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4.5rem;
}

.service-text h3 {
    margin-bottom: 1rem;
    color: #F4FAF4;
    font-weight: 400;
    font-family: var(--font-family);

}

.service-text h2 {
    margin-bottom: 1.5rem;
    color: var(--font-color-tertiary);
    font-size: 1.875rem;
    max-width: 90%;
    font-weight: 600;

}

.service-text h4 {
    margin-bottom: 2rem;
    font-size: 1rem;
    color: #F6FAFF;
    font-weight: 400;
    max-width: 97%;
    font-family: var(--font-family);

}

.orange-bottom {
    display: flex;
    background-image: var(--bottom);
    color: #FFFFFF;
    border-radius: 2rem;
    max-width: 100%;
    width: 60%;
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1rem;
}

.partners {
    margin-top: 3.5rem;


}

.partners-text h3 {
    color: var(--font-color-subtitle);
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-family: var(--font-family);
}

.partners-text h2 {
    color: var(--font-color-subtitle);
    font-size: 1.875rem;
    max-width: 80%;
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: var(--font-family);
}

.partners-text h4 {
    color: var(--font-color-subtitle);
    font-size: 1rem;
    margin-bottom: 2rem;
    font-weight: 400;
    font-family: var(--font-family);
}

.partner-data {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-bottom: 2rem;
    justify-content: space-between;

}

.data-body {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    font-size: 0.75rem;
    gap: 0.5rem;
}

.data-body h3 {
    color: var(--font-color-number);
    font-size: 1.5rem;
}

.data-body h4 {
    color: var(--font-color-subtitle);
    font-weight: 400;
    font-family: var(--font-family);
}




.img-partners {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;

}

.desktop-partners {
    display: none;
}



.testimonial {
    margin-top: 9rem;
    margin-bottom: 6rem;
}

.testimonial-card {

    background: #fff;
    border-radius: 1.5rem;
    box-shadow: 0 0.25rem 1.5rem rgba(0, 0, 0, 0.10);
    padding: 1.5rem 1rem;
    margin: 0 auto 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;



}

.profile-img {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.star {
    display: flex;
    margin-top: 0.125rem;
    gap: 0.5rem;
    margin-bottom: 1.25rem;

}

.star img {

    max-width: 20%;
}

.testimonial-card-text h3 {
    max-width: 100%;
    font-size: 0.875rem;
    color: var(--font-color-subtitle);
    font-weight: 400;
    margin-bottom: 1rem;
}

.testimonial-text h3 {
    color: var(--font-color-subtitle);
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-family: var(--font-family);
}

.testimonial-text h2 {
    color: var(--font-color-subtitle);
    font-size: 1.875rem;
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: var(--font-family);
}

.testimonial-text h4 {
    color: var(--font-color-subtitle);
    font-size: 1rem;
    margin-bottom: 2rem;
    font-weight: 400;
    font-family: var(--font-family);
}

.suport {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;

}

.suport-card img {
    background-color: #FFFFFF;
}

.suport-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4.5rem;
    text-align: center;
    font-weight: 600;
}

.suport-text h3 {
    color: var(--font-color-subtitle);
    margin-bottom: 1rem;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-weight: 400;
    font-family: var(--font-family);
}

.suport-text h2 {
    color: var(--font-color-subtitle);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.875rem;
    max-width: 91%;
    margin-bottom: 1rem;
    align-items:
        center;
}

.suport-card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    border: 0.0625rem solid #E0E0E0;
    padding: 2rem 1.5rem;
    margin-bottom: 1.5rem;
    height: 22rem;
}

.suport-card h3 {
    font-size: 1.5rem;
}

.suport-card h4 {
    max-width: 100%;
    font-size: 1rem;
    text-align: center;

    color: var(--font-color-subtitle);
    font-weight: 400;
}

.get-startede {
    background-image: var(--background-color-get-started);
    border-radius: 1.5rem;
    padding: 2.5rem 1.75rem;
    margin-bottom: 2.5rem;

}



.get-started-text h2 {
    color: var(--font-color-tertiary);
    font-size: 1.875rem;
    max-width: 100%;
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: var(--font-family);

}

.get-started-text h3 {
    color: var(--font-color-tertiary);
    font-size: 1rem;
    max-width: 100%;
    margin-bottom: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    font-family: var(--font-family);
}

.footer {
    background-color: var(--background-color-footer);
    color: #FFFFFF;
    width: 100%;
    padding: 2rem 2rem;
}

.footer-text h3 {
    font-family: var(--font-family);
    font-weight: 400;
    color: #FFFFFF;
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
}

.contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.contact h3 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.template-contact {
    font-weight: 400;
    display: flex;
    flex-direction: row;
    gap: 1rem;

}

.template-contact h4 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;

}

.social-midias {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 4rem;


}

.social-midias img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 0.0625rem solid rgba(255, 255, 255, 0.5);
    padding: 0.5rem;
    box-sizing: content-box;

}

.footer-end-part {
    display: none;
}

@media (min-width: 1024px) {
    .menu-mobile {
        display: none;
    }

    ul li {
        list-style: none;
    }

    .menu-desktop {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
        font-size: 1rem;
        margin-left: 4rem;
    }

    .menu-desktop .text-about {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .menu-desktop li {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .menu-desktop li a {
        font-family: 'Inter';
        font-weight: 400;
        color: #757B8A;
        display: flex;
        align-items: center;
        height: 100%;
        line-height: 1;
    }

    .text-about li a {
        font-family: 'Inter';
        font-weight: 700;
        color: #000000;

    }

    .menu-desktop button {
        background-color: #F8F8F8;
        border: 0;
        font-weight: 700;
        font-size: 2rem;
    }

    .sign-in {
        display: block;
        margin-left: auto;
    }

    .sign-in .menu-desktop {
        margin-left: 0;
    }

    .sign-in .menu-desktop li a {
        display: flex;
        background-image: var(--bottom);
        color: #FFFFFF;
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        height: 2.5rem;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        font-weight: 600;
    }

    .hero-overlay {
        margin-top: 49px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hero-desktop {
        display: flex;
        flex-direction: column;
        flex: 1;

    }

    .hero-new-structure {
        width: 85%;
        margin-left: 70px;
    }

    .text-hero h2 {
        max-width: 100%;
        font-size: 5rem
    }

    .text-hero h3 {
        max-width: 90%;

    }

    .hero-new {
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    .image-hero img {
        max-width: 100%;
        width: 718px;
        height: 681px;
        flex: 1;
    }

    .hero-chosse {
        gap: 24px;
        justify-content: start;
        font-size: 0.875rem;
        margin-bottom: 3rem;
    }

    .company-soon .container {
        max-width: 80%;
        justify-content: center;

    }

    .company-soon {
        display: flex;
        flex-direction: row;

    }

    .company-soon img {
        flex: 1;
        width: 310px;
        height: 100px;
    }

    .structure-soon {
        display: flex;
        flex-direction: row;
    }

    .services-structure {
        padding-top: 116px;
        padding-bottom: 116px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 53px;
    }

    .service-card {
        display: flex;
        flex-direction: row;
        max-width: 90%;
        gap: 20px;
    }


    .card-desktop {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .card-body {
        width: 310px;
        height: 254px;

    }

    .service-text h3 {
        margin-top: 30px;
    }

    .service-text h4 {
        margin-bottom: 100px;
    }

    .orange-bottom {
        height: 3.5rem;
    }

    .partners-structure {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .partners-text h2 {
        font-size: 36px;
    }

    .partners-left {
        display: flex;
        flex-direction: column;
    }

    .partner-data {
        justify-content: flex-start;
        gap: 48px;
    }

    .partners .orange-bottom {
        width: 200px;
    }

    .img-partners {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
    }

    .desktop-partners {
        display: flex;
    }

    .mobile-partners {
        display: none;
    }

    .testimonial {
        display: none;
    }

    .suport {
        margin-top: 204px;
        margin-bottom: 170px;
    }

    .suport-text h3 {
        font-size: 18px;
        font-family: var(--font-family);
        font-weight: 400;
        color: #1A1A1A;
    }

    .suport-text h2 {
        align-items: center;
        text-align: center;
        max-width: 60%;
        font-size: 36px;
    }

    .suport-card {
        display: flex;
    }

    .card-structure {
        display: flex;
        flex-direction: row;
        gap: 80px;
        justify-content: center;


    }

    .suport-card {
        width: 340px;
        height: 361px;
    }

    .desktop-structure {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .get-startede {
        display: flex;
        flex-direction: row;
        padding: 50px;
    }

    .get-started-text {
        display: flex;
        flex-direction: column;
    }

    .get-startede .orange-bottom {
        display: flex;
        width: 250px;
        margin-left: 50px;
        padding: 20px;

    }

    .get-started {
        position: relative;
        margin-bottom: -150px;
        z-index: 10;

    }

    .get-started h3 {
        width: 70%;
    }

    .quebra-mobile {
        display: none;
    }

    .footer {

        max-width: 100%;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: row;
        gap: 100px;
justify-content: space-between;

    }



    .logo {
        margin: 150px 40px;
        display: flex;
        align-items: center;
        height: 100%;
        padding-right: 100px;
    }

    .footer-text {
        margin: 215px 40px;
        position: absolute;
        font-size: 14px;
        max-width: 20%;

    }

    .footer-end-part {

        display: flex;
        flex-direction: row;
        gap: 72px;
        justify-content: space-between;
        margin-top: 150px;

    }

    .footer-end-part .end-structure ul li {
        margin-bottom: 1rem;
    }

    .footer-end-part .end-structure ul li a {

        white-space: nowrap;
        font-family: var(--font-family);
        font-weight: 100;
    }

    .contact-desktop {
        display: flex;
        flex-direction: column;
        margin-top: 150px;

    }


    .social-midias {
        position: absolute;
        margin: 40px;
        margin-top: 300px;

    }

}